<div class="menu-button" id="menuButton">
  <div class="bar top"></div>
  <div class="bar middle"></div>
  <div class="bar bottom"></div>
</div>
<nav class="side-menu" id="sideMenu">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="#">Geschäftliches</a></li>
    <li><a href="#">Persönliches</a></li>
    <li><a href="#">Lebenslauf</a></li>
    <li><a href="/theses/">Abschlussarbeiten</a></li>
    <li><a href="#">Spielereien</a></li>
    <li><a href="/links/">Externe Links</a></li>
  </ul>
</nav>