<div class="menu-button" id="menuButton">
  <div class="bar top"></div>
  <div class="bar middle"></div>
  <div class="bar bottom"></div>
</div>
<nav class="side-menu" id="sideMenu">
  <ul>
    <li><a href="/home/" id="home"></a></li>
    <li><a href="/business/" id="business"></a></li>
    <li><a href="/personal/" id="personal"></a></li>
    <li><a href="/cv/" id="cv"></a></li>
    <li><a href="/theses/" id="theses"></a></li>
    <li><a href="/gadgets/" id="gadgets"></a></li>
    <li><a href="/links/" id="links"></a></li>
  </ul>
</nav>